language: cpp
compiler: gcc
sudo: require
dist: trusty

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt-5.10.1-trusty -y
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install qt510base qt510multimedia libgl1-mesa-dev libasound2-dev
  - source /opt/qt*/bin/qt*-env.sh

script:

  - sed -i -e 's|__WINDOWS_MM__|__LINUX_ALSA__|g' Symphonium.pro
  - sed -i -e 's|win32: LIBS += -L$$PWD/'"'"'libs/winMM'"'"' -lWinMM-x64|unix: LIBS += -lm -lasound -pthread|g' Symphonium.pro

  - cat Symphonium.pro
  - qmake CONFIG+=release PREFIX=/usr
  - make -j$(nproc)
  - make INSTALL_ROOT=appdir -j$(nproc) install ; find appdir/
  - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -appimage

after_success:
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh Symphonium*.AppImage*
  
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/
